html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-image: url("image/A00004865.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

